.copy-right-text {
    padding: 10px 0;
    display: block;
}

.copy-right {
    text-align: center;
}


.footer {
    background-color: #f7f7f7;
}


.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.social ul {
    display: flex;
    font-size: 25px;
}

.social ul li:not(:last-child) {
    margin-right: 20px;
}

.social ul li a {
    color: #000;
}

.footer {
    padding: 50px 0;
    margin-top: 100px;
}


.footer a {
    color: #333;
}

.footer-grids h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.footer-grids ul li {
    line-height: 28px;
    display: flex;
    align-items: center;
}

.contact-footer li:before {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar {
    margin-top: 50px;
}
