.btn-sing-out {
    background: none;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-title {
    color: #1f3d70;
}


/* Navigation */
.menu-toggle{
    display: none;
    border: none;
    background: none;
}
.menu-toggle:before{
    content: "\f0c9";
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 36px;
}


.main-navigation{
    display: block;

}



.main-navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navigation ul a{

    display: block;
    line-height: 50px;
    padding: 0 22px;
    transition: line-height 0.5s;
}

.main-navigation #primary-menu>li>a {
    line-height: 100px;
}

.main-navigation ul .sub-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-2em);
    z-index: 100;
    min-width: 180px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease-in-out 0s, opacity 0.2s;
    transition: all 0.2s ease-in-out 0s, opacity 0.2s;
    box-shadow: 0 0 10px rgba(102, 102, 102, 0.19), 0 4px 10px rgba(102, 102, 102, 0.2);
}



.main-navigation ul .sub-menu a{
    border-bottom: 1px solid #eee;
}


.main-navigation ul .sub-menu li.menu-item-has-children{
    position: relative;
}

.main-navigation ul .sub-menu li.menu-item-has-children li a{
    line-height: 50px;
}

.main-navigation ul .sub-menu li.menu-item-has-children .menu-item-has-children .sub-menu{
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 150px;
}

.main-navigation ul .sub-menu li.menu-item-has-children>a:after{
    content:"\f107";
    font-family: "FontAwesome";
    display: inline-block;
    float: right;
}


.main-navigation ul li.menu-item-has-children:hover >ul.sub-menu{
    visibility: visible;
    opacity: 1;
    z-index: 200;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}


.main-navigation ul#primary-menu>li{
    display: inline-flex;
    position: relative;
}

.main-navigation ul#primary-menu>.menu-item-has-children>a:after {
        content:"\f107";
        font-family: "FontAwesome";
        display: inline-block;
        margin-left: 5px;
}

.main-navigation .sub-menu .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
}

@media (max-width: 991px) {
    #primary-menu{
        display: none;
        position: absolute;
        top: 102%;
        z-index: 9999;
        background: #fff;
        right: 15px;
        left: 15px;
        box-shadow: 0 0 10px rgba(102, 102, 102, 0.19), 0 4px 10px rgba(102, 102, 102, 0.2);
    }

    .main-navigation ul li{
        display: flex;
    }

    .main-navigation ul li a{
        line-height: 50px!important;
        width: 100%;
    }

    .main-navigation ul li a>a{
        border-bottom: 1px solid #eee;
    }

    .menu-toggle{
        display: block;
    }

    .main-navigation ul#primary-menu li {
        display: block;
    }

    .main-navigation ul#primary-menu li.menu-item-has-children>a:after{
        content:"\f107";
        font-family: "FontAwesome";
        display: inline-block;
        float: right;
    }

    .main-navigation ul#primary-menu li.menu-item-has-children>ul.sub-menu{
        position: static;
        width: 100%;
        box-shadow: none;
        padding-left: 15px;
        visibility: unset;
        opacity: 1;
        z-index: 1;
        display: none;
        transform: translateY(0);
        transition: height 0.5s;
    }

    .main-navigation ul#primary-menu li.menu-item-has-children:hover>ul.sub-menu{
        display: none;
    }

}


.men-thumb-item img {
    width: 100%;
}

.men-thumb-item {
    border: 1px solid #eee;
}

.breadcrumb-app {
    background: #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 80px;
}

.crumb a {
    color: #d60404;
}

.breadcrumb-nav {
    list-style: none;
    display: flex;
    padding: 15px 0;

}

.crumb:not(:last-child):after {
    content: '/';
    margin: 0 10px;
}

.slide-item {
  display: none;
  height: 100%;
}

.slideshow {
  position: relative;
}

.slideshow .btn-slide-prev,
.slideshow .btn-slide-next {
  position: absolute;
  top: calc( (100% - 50px)/2 );
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgba(0,0,0,0.5);
}

.slideshow .btn-slide-prev .hover,
.slideshow .btn-slide-prev .default,
.slideshow .btn-slide-next .hover,
.slideshow .btn-slide-next .default {
  padding: 10px 12px;
  color: #fff;
  font-size: 40px;
}

.slideshow .btn-slide-prev .hover,
.slideshow .btn-slide-next .hover {
  display: none;
}

.slideshow .btn-slide-prev:hover .hover,
.slideshow .btn-slide-next:hover .hover {
  display: block;
}

.slideshow .btn-slide-prev:hover .default,
.slideshow .btn-slide-next:hover .default {
  display: none;
}

.slideshow .btn-slide-prev {
  left: 0px;
}

.slideshow .btn-slide-prev:hover img {
  -webkit-animation: fadeOutLeft .3s ease-in-out;
  animation: fadeOutLeft .3s ease-in-out;
}

.slideshow .btn-slide-next {
  right: 0px;
}

.slideshow .btn-slide-next:hover img {
  -webkit-animation: fadeOutRight .3s ease-in-out;
  animation: fadeOutRight .3s ease-in-out;
}

.slider-content .slider-item {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale-up {
    margin-top: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(170,34,49,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-content .slider-item .caption {
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 0 65px;
  text-align: center;
}

.slider-content .slider-item .caption .caption-title {
  margin: 0 0 50px;
  font-size: 58px;
  display: block;
}

.slider-content .slider-item .cap-text {
    max-width: 570px;
    display: block;
    margin: 0 auto;
}

.btn-watch {
  display: block;
  width: 175px;
  height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

.btn-watch .btn-hover,
.btn-watch .btn-default {
  border: none;
}

.btn-watch .text-hover {
  color: #aa2231;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn-watch .btn-default {
  background-color: #aa2231;
  color: #fff;
}

.btn-watch .btn-hover {
  background-color: #ffffff;
}

.btn-watch .highline {
  color: #aa2231;
}

.btn-watch:hover {
  border: none;
}

.btn-watch:hover .text-hover {
  opacity: 1;
}

.btn-watch:hover .btn-hover {
  height: 100%;
  top: 0;
}

.btn-watch:hover .btn-default {
  opacity: 0;
}

.slideshow .slick-slide {
  overflow: hidden;
}

.slideshow .slick-slide .img-slide {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slideshow .slick-slide.slick-active .img-slide {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.slideshow .slick-slide .cap-text {
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

.slideshow .slick-slide .cap-text span {
  font-style: italic;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
}

.slick-dots li button {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slick-dots li button:hover {
  -webkit-transform: scale(1.45);
          transform: scale(1.45);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.slider-content {
    height: 500px;
}

@-webkit-keyframes example {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes example {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  39% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  39% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  39% {
    -webkit-transform: translateX(-30px);
    transform: translateX(30px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  39% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slideshow .slick-slide{
    overflow: hidden;
}

.slideshow .slick-slide .img-slide{
        transform: scale(1);
    }

.slideshow .slick-slide.slick-active .img-slide{
    transform: scale(1.15);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

.slideshow .slick-slide .cap-text{
        font-size: 20px;
    }

.slideshow .slick-slide span {
            font-style: italic;
        }

.slick-list {
    max-height: 500px
}


@-webkit-keyframes example {
    from {transform: scale(1);}
    to {transform: scale(1.15);}
}

/*Standard syntax*/
@keyframes example {
    from {transform: scale(1);}
    to {transform: scale(1.15);}
}

@-webkit-keyframes fadeOutRight{
    0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    39%{-webkit-transform:translateX(30px);transform:translateX(30px);opacity:0;}
    40%{-webkit-transform:translateX(-10px);transform:translateX(-10px);opacity:0;}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    }
@keyframes fadeOutRight{
    0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    39%{-webkit-transform:translateX(30px);transform:translateX(30px);opacity:0;}
    40%{-webkit-transform:translateX(-10px);transform:translateX(-10px);opacity:0;}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}}


@-webkit-keyframes fadeOutLeft{
    0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    39%{-webkit-transform:translateX(-30px);transform:translateX(30px);opacity:0;}
    40%{-webkit-transform:translateX(-10px);transform:translateX(-10px);opacity:0;}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    }
@keyframes fadeOutLeft{
    0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}
    39%{-webkit-transform:translateX(-30px);transform:translateX(-30px);opacity:0;}
    40%{-webkit-transform:translateX(10px);transform:translateX(10px);opacity:0;}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1;}}

/* Sidebar */

/* Search */
.form-search-sidebar {
    position: relative;
    height: 40px;
}

.input-search-sidebar {
    width: 100%;
    border: none;
    height: 100%;
    padding: 0 55px 0 15px;
}

.widget-title {
    margin-bottom: 30px;
}

.copy-right {
    background-color: #aa2231;
}
