#shop-cart-sidebar {
    position: fixed;
    height: 80vh;
    top: calc( (100% - 80vh)/2 );
    z-index: -1;
    width: 600px;
    left: calc( ( 100% - 600px )/2 );
    background: #ffffff;
    visibility: hidden;
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    border-left: 2px solid #f5f5f5;
    opacity: 0

}
@media ( max-width: 767px ) {
    #shop-cart-sidebar {
        width: 320px;
        left: calc( ( 100% - 320px )/2 );
    }
}
#shop-cart-sidebar.eloading:after {
    content: url('/images/preloader.gif');
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-cart-sidebar.eloading .cart-sidebar-content {
    align-items: center;
}

#shop-cart-sidebar.showcart {
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 999999;
    opacity: 1;
}

.list-product-in-cart {
    padding: 0;
    width: 100%;
}

.cart-sidebar-head {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0 20px;
    z-index: 3;
    min-height: 60px;
    background: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;

}

.product_list_widget {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.product_list_widget .mini_cart_item {
    min-height: 110px;
    position: relative;
    padding: 20px 0 20px 20px!important;
    border-bottom: 1px solid #eaeaec;
}



.remove_from_cart_button {
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 2;
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mini-cart-item:hover .remove_from_cart_button{
    opacity: 1;
    -webkit-transform: translateX(0) rotate(90deg);
    transform: translateX(0) rotate(90deg)!important;

}

.remove_from_cart_button:hover {
    color: #e31246!important;
    background: none!important;
    -webkit-transform: translateY(-50%) translateX(0) rotate(90deg);
    transform: translateY(-50%) translateX(0) rotate(90deg);
}

.cart-sidebar-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: -webkit-calc( 100% - 140px);
    height: -moz-calc( 100% - 140px);
    height: calc( 100% - 150px);
    display: flex;
    justify-content: center;


}


    /* width */
.cart-sidebar-content::-webkit-scrollbar {
  width: 5px;
}


/* Handle */
.cart-sidebar-content::-webkit-scrollbar-thumb {
  background: #1f3d70;
  border-radius: 50px;
}

/* Handle on hover */
.cart-sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #fc1550;
}


.cart-sidebar-title {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}


#close-cart-sidebar {
    border: 0;
    background: none;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    width: 30px;
    height: 30px;
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.3s;
    color: #1f3d70;
    padding: 0;

}


#close-cart-sidebar:hover {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.cart-sidebar-head .count {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e31246;
    color: #fff;
    margin-left: 10px;
    border-radius: 50%;

}

#shop-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#shop-overlay.show {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
        pointer-events: auto;
}

.mini-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.product-minicart-logo {
    width: 70px;
    margin: 0 15px 0 10px;
}

.product-minicart-logo img {
    width: 100%;
    object-fit: cover;
}

.product-minnicart-info {
    width: calc( 100% - 180px );
}

.minicart-product-price {
    display: block;
    margin: 0 15px;
}

.mincart-product-name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #1f3d70;
    margin-bottom: 8px;
}

.subpay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    line-height: 40px;

    border-top: 1px solid #eee;
}

.subpay .label{

    color: #1f3d70;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.subpay .total-price {

    color: #aa2231;
    font-size: 18px;
}

.btn-view-cart,
.btn-view-checkout {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
}

.mini-cart-action {
    display: flex;
}

.btn-view-cart {
    background-color: #eee;
    color: #1f3d70;
}

.btn-view-checkout {
    background-color: #aa2231;
    color: #fff;
}
