/* Form login  */
#login,
#register {
    display: none;
    position: fixed;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    top: calc( ( 100% - 80vh )/2 );
    left: calc( ( 100% - 80% )/2 );
    visibility: hidden;
    transform: translateY(-100px);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}


#login.active,
#register.active {
    display: block;
    visibility: visible;
    z-index: 99999;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s;
    pointer-events: auto;
}
