/* Form login  */
#login,
#register {
    position: fixed;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    top: calc( ( 100% - 80vh )/2 );
    left: calc( ( 100% - 80% )/2 );
    visibility: hidden;
    transform: translateY(-300px);
    z-index: -1;
    opacity: 0;
    transition: transform 0.3s;
}


#login.active,
#register.active {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
    transform: translateY(0);
    transition: transform 0.3s;
    pointer-events: auto;
}

.close-form-login,
.close-form-register {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.avatar-wrapper {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 auto 30px;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
}

#edit-popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: calc( ( 100% - 80vh )/2 );
    left: calc((100% - 85%)/2);
    height: 80vh;
    width: 85%;
}

.edit-popup-wrapper,
.form-edit-user,
.form-edit-wrapper {
    height: 100%;
}

.form-edit-wrapper .card-body {
    height: calc( (100% - 49px) );
    overflow-y: scroll;
}

.edit-popup-wrapper {
    background-color: #fff;
    width: 100%;
}

.edit-popup-overlay.active {
    visibility: visible;
    z-index: 999;
    transform: translateY(0);
    transition: transform 0.3s linear;
}

.edit-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    visibility: hidden;
    transform: translateY(-100px);
    transition: transform 0.3s linear;
    z-index: 99999;
}

.input-file, .btn-delete-logo {
    position: relative;
    height: 40px;
    width: 100px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c513b;
    cursor: pointer;
    border-radius: 3px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.custom-file-input {
    z-index: 2;
    margin: 0;
    opacity: 0;
}

.input-file label {
    margin-bottom: 0;
    color: #fff;
    cursor: pointer;
}

.btn-add-to-cart,
.btn-add-cart {
    width: 100%;
    min-height: 40px;
    background-color: #1f3d70;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-add-cart:before,
.btn-add-to-cart:before {
    margin-right: 10px;
}

.add-to-cart-wrapper {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.men-thumb-item {
    position: relative;
}

.men-pro-item:hover .add-to-cart-wrapper {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    height: 40px;
    bottom: 0;
}

.product-discount {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #1f3d70;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    display: block;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.9;
}

.page-loading.loading {
    display: flex;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #000; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: load 0.8s linear infinite;
}

@keyframes load {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content-ajax {
    padding-top: 60px;
}

.content-ajax.loading .wrapper:after {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #000; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: load 0.8s linear infinite;
  content: '';
  display: block;
}
