.edit-popup {
    width: 70%;
    position: fixed;
    left: 15%;
    visibility: hidden;
    transform: translateY(-100px);
    z-index: -1;
    transition: transform 0.3s linear;
    box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.2 );
}

.edit-category {
    top: calc( ( 100% - 235px )/2 );
    height: 235px;
}

.edit-product {
    top: calc( ( 100% - 80vh )/2 );
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.edit-popup.active {
    visibility: visible;
    z-index: 999;
    transform: translateY(0);
    transition: transform 0.3s linear;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 40px;
}

.header-text {
    padding: 0 30px;
    display: block;
}
.btn-close-popup {
    width: 40px;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}
.btn-close-popup:before {
    transform: rotate(0);
    transition: all 0.3s;
}

.btn-close-popup:hover:before{
    transform: rotate(90deg);
}

.height {
    height: 100%;
}
