.card-body {
    border-top: 1px solid #eee;
}

.store-text {
    display: block;
}

.store-text .label {
    font-weight: 500;
}

.btn-group {
    margin: 35px 0 15px;
}

.store-action {
    background: #f8f9fa;
    padding: 15px;
}


