.card-body {
    border-top: 1px solid #eee;
}

.store-text {
    display: block;
}

.store-text .label {
    font-weight: 500;
}

.btn-group {
    margin: 35px 0 15px;
}

.store-action {
    background: #f8f9fa;
    padding: 15px;
}

.create {
    font-size: 16px;
    color: #1f3d70;
    font-weight: 500;
}

.form-search {
    min-width: 200px;
    display: flex;
    border: 1px solid #ddd;
}

#input-store {
    border: none;
    width: calc( 100% - 30px );
}

.btn-search {
    width: 30px;
    height: 30px;
    border: none;
    border-left: 1px solid #ddd;
}
