.header {
   color: #000;
   font-size: 2em;
   padding: 1rem;
   text-transform: uppercase;
   margin: 0;
}

img {
   border-radius: 50%;
   height: 60px;
   width: 60px;
}

.table-users {

   border-radius: 10px;
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;

}

table {
   width: 100%;

}

 td, th {

      padding: 10px;
      text-align: center;
   }

   td {

      vertical-align: middle;
      color: #398B93;
   }
  td:last-child {
      font-size: 0.95em;
      line-height: 1.4;
      text-align: left;
   }
   th {
      background-color: #398B93;
      font-weight: 300;
      color: #fff;
   }


      tr:nth-child(2n) { background-color: white; }
      tr:nth-child(2n+1) { background-color: lighten(#398B93, 55%) }


@media screen and (max-width: 700px) {
   table, tr, td { display: block; }

   td:first-child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
   }

   td:not(:first-child) {
      clear: both;
      margin-left: 100px;
      padding: 4px 20px 4px 90px;
      position: relative;
      text-align: left;
   }

   td:not(:first-child):before {
      color: lighten(#398B93, 30%);
      content: '';
      display: block;
      left: 0;
      position: absolute;
   }

      td:nth-child(2):before { content: 'Name:'; }
      td:nth-child(3):before { content: 'Email:'; }
      td:nth-child(4):before { content: 'Phone:'; }
      td:nth-child(5):before { content: 'Comments:'; }


   tr {
      padding: 10px 0;
      position: relative;
   }
   tr:first-child { display: none; }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten(#398B93, 60%);
      font-size: 3em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }

   img {
      border: 3px solid;
      border-color: lighten(#398B93, 50%);
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
   }

   td:first-child {
         background-color: lighten(#398B93, 45%);
         border-bottom: 1px solid lighten(#398B93, 30%);
         border-radius: 10px 10px 0 0;
         position: relative;
         top: 0;
         transform: translateY(0);
         width: 100%;
      }

      td:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;

      }
      td:not(:first-child):before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }

      td:last-child  { padding-bottom: 1rem !important; }


   tr {
      background-color: white !important;
      border: 1px solid lighten(#398B93, 20%);
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }

   .table-users {
      border: none;
      box-shadow: none;
      overflow: visible;
   }
}


.create {
    display: block;
    font-size: 16px;
    padding: 15px;
}
